<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Herald needs access to your local network to discover Bonjour services, including their names, types, addresses, and metadata.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
		<string>_https._tcp</string>
		<string>_airplay._tcp</string>
		<string>_raop._tcp</string>
		<string>_homekit._tcp</string>
		<string>_hap._tcp</string>
		<string>_companion-link._tcp</string>
		<string>_sleep-proxy._udp</string>
		<string>_smb._tcp</string>
		<string>_afpovertcp._tcp</string>
		<string>_nfs._tcp</string>
		<string>_ftp._tcp</string>
		<string>_ssh._tcp</string>
		<string>_sftp-ssh._tcp</string>
		<string>_printer._tcp</string>
		<string>_ipp._tcp</string>
		<string>_ipps._tcp</string>
		<string>_pdl-datastream._tcp</string>
		<string>_scanner._tcp</string>
		<string>_daap._tcp</string>
		<string>_dpap._tcp</string>
		<string>_ichat._tcp</string>
		<string>_presence._tcp</string>
		<string>_rfb._tcp</string>
		<string>_rdp._tcp</string>
		<string>_device-info._tcp</string>
		<string>_googlecast._tcp</string>
		<string>_spotify-connect._tcp</string>
		<string>_sonos._tcp</string>
		<string>_meshcop._udp</string>
		<string>_matter._tcp</string>
		<string>_matter._udp</string>
		<string>_matterd._udp</string>
		<string>_matterc._udp</string>
		<string>_trel._udp</string>
		<string>_coap._udp</string>
		<string>_workstation._tcp</string>
		<string>_net-assistant._udp</string>
		<string>_apple-mobdev2._tcp</string>
		<string>_airport._tcp</string>
		<string>_airdrop._tcp</string>
		<string>_touch-able._tcp</string>
		<string>_remotepairing._tcp</string>
		<string>_mediaremote._tcp</string>
		<string>_apple-pairable._tcp</string>
		<string>_continuity._tcp</string>
		<string>_airplayTXTver._tcp</string>
		<string>_atc._tcp</string>
		<string>_hks._tcp</string>
		<string>_coaps._udp</string>
		<string>_srpl-tls._tcp</string>
		<string>_dnssd._udp</string>
		<string>_eppc._tcp</string>
		<string>_vnc._tcp</string>
		<string>_webdav._tcp</string>
		<string>_webdavs._tcp</string>
		<string>_uscan._tcp</string>
		<string>_uscans._tcp</string>
		<string>_roku-rcp._tcp</string>
		<string>_hue._tcp</string>
		<string>_dacp._tcp</string>
		<string>_dns-update._udp</string>
		<string>_ntp._udp</string>
	</array>
</dict>
</plist>
